body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif; }

header h1 {
  padding: 20px;
  text-align: center;
  color: #ff002b;
  background-color: black; }
  header h1:hover {
    color: #a87b83; }

.logo {
  width: 100%;
  background: radial-gradient(#790216, black, black); }

.titulo {
  padding: 20px;
  text-align: center;
  color: #ff002b; }

/*estilo de la animacion*/
.animate__animated.animate__heartBeat:hover {
  animation: infinite; }

.contenedor {
  display: grid;
  grid-template-columns: 3fr, 1fr;
  grid-template-rows: 1fr, 3fr, 1fr;
  background-color: black;
  color: whitesmoke; }

/*estilo del contenido principal*/
.descripcion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

.descripcion section {
  padding: 15px; }

@media only screen and (max-width: 768px) {
  .descripcion {
    grid-template-columns: 1fr; } }

/* estilo del footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: black; }

footer a {
  color: white;
  font-size: 15px; }

footer p {
  margin-top: 10px;
  font-size: 15px;
  color: #ff002b; }

/* estilos de las tablas */
.integrantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center; }

@media only screen and (max-width: 768px) {
  .integrantes {
    grid-template-columns: 1fr; } }

.discografia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: black; }

.discografia a {
  color: white; }

.conciertos {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*estilo de merchandising*/
.productos {
  text-align: center;
  background-color: black;
  color: white; }

.hijo {
  padding: 10px; }
